<!-- student_login.html -->
{% extends "courses/base.html" %}


{% block title %}Student Login{% endblock%}
{% load crispy_forms_tags%}
    
{% block content %}

    <h1>Student Login</h1>
    <div class="my-5">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy}}
        <p>Don't have an account?  <a href="login">Register</a></p>
        <button type="submit" class="btn btn-success">Login</button>
        
        
        
                {% comment %} {{ form.as_p }} {% endcomment %}
        
    </form>
</div>
{% endblock %}
    

