@media(max-width :767px){

  .nav{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .con{
    border: 1px solid gold;
    /* margin-top: 0; */
    /* display: inline-block; */
    /* position: relative;
    top: -20px;
    right: 60px; */
    /* padding-bottom: 1.5em;
    padding-right: 4.3em; */
  

    cursor: pointer;
    /* margin-bottom: 5em; */
    z-index: 3;
  }
  .bar1, .bar2, .bar3{
    width: 35px;
    height: 5px;
    background-color: blue;
    margin: 6px 0;
    transition: .4s;
  }
  
  .change .bar1{
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2{
    opacity: 0;
  }
  
  .change .bar3{
    transform: translate(0,-11px) rotate(45deg);
  } 

  .menu{
    margin-top: 0;
    flex-direction: column;
    position: absolute;
    background-color: #f44336;
    height: 100vh;
    /* width: 300px; */
    width: 50%;
    padding-top: 4em;
    top: 0;
    right: -50%;
    text-align: left;
    z-index: 2;

  }

  .menu__list{
    padding-bottom: 30px;
  }

 
}

