{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
   <link href="{% static 'signin.css' %}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="static/signIn.css"> -->

</head>
<body>
   <div class="container">
        <div class="book">
            <h1 class="login">Welcome Back!</h1>
            <p class="reg">Don't have an account <a href="#">Register</a></p>
            <form>
                <input type="email" placeholder="Email" name="username">
                <input type="password" placeholder="Password" name="password">
                <input type="submit" value="sign in">
                <p class="forgot">Forgot Password? <a href="#">Click here</a></p>
            </form>
        </div>
       
   </div>
</body>
</html>